# Build directories
build/
CMakeFiles/
CMakeCache.txt
*.cmake

# Compiled object files
*.o
*.obj
*.so
*.a
*.lib
*.dll

# Executables
*.exe
*.out

# IDE specific files
*.vscode/
*.idea/
*.swp

# Logs and temporary files
*.log
*.tmp
